<div class="list">
  <app-recipe-item *ngFor="let recipe of recipes"
      [recipe]="recipe"
      [selected]="recipe.name === currentRecipe"
      [userEdit]="userEditing"
      (buttonClicked)="handleRecipeEvent($event)"
      (toggleSelected)="handleRecipeToggle($event)"></app-recipe-item>
  <div *ngIf="addRecipe"
      class="title">
    Add New Recipe
  </div>
  <app-recipe-edit [recipe]="null"
      (buttonClicked)="handleRecipeEvent($event)"
      *ngIf="addRecipe"
      class="add-recipe">
  </app-recipe-edit>
</div>
<button class="add-button"
    (click)="handleAddRecipe()">Add Recipe</button>
