.edit-pad {
  padding: 0 0 1em 1.5em;
}
.form {
  font-size: 1rem;
  position: relative;
  max-width: 100%;
  margin-top: 0;
}
.name-input {
  width: 50%;
  margin: 0 0 0.5em 0;
  clear: both;
}
label {
  font-size: 0.8em;
  margin: 0 0 0.5rem 0;
  font-weight: 700;
  line-height: 1.2857em;
  color: rgba(0,0,0,.87);
  display: block;
}
input {
  width: 100%;
  vertical-align: top;
  line-height: 0.8em;
  padding: 0.3em 0.6em;
  font-size: 0.8em;
  border: 1px solid rgba(34,36,38,.15);
  color: rgba(0,0,0,.87);
  border-radius: .29rem;
  transition: color .1s ease,border-color .1s ease;
  -webkit-transition: color .1s ease,border-color .1s ease;
}
.ingredient-group {
  width: 93.75%;
  clear: both;
  margin: 0 0 0.5em 0;
}
.ingredient-input {
  padding-bottom: 5px;
  width: 93.75%;
}
i.remove {
  position: absolute;
  right: 0px;
  padding: 0.2em 0.6em 0.3em 0;
  display: inline-block;
  width: 6.25%;
  height: 1em;
  text-align: center;
}
.add {
  color: #4183C4;
  font-size: 0.8em;
}
.save-button {
  background-color: #2185D0;
}
.cancel-button {
  background-color: #E0E1E2;
  color: rgba(0,0,0,.6);
}
