.item-pad {
  padding: 0 0 1em 1.5em;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.ingredient-header {
  font-size: 1em;
  border: none;
  margin: 0 0 0.5rem 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.2857em;
  text-transform: none;
  color: rgba(0,0,0,.87);
}
.list-pad {
  list-style-type: none;
  margin-top: 1em;
  padding: 0;
  font-size: 1em;
}
.item {
  display: list-item;
  table-layout: fixed;
  list-style-type: none;
  list-style-position: outside;
  padding: 0 0 .21428571em 0;
  line-height: 1.14285714em;
}
button.edit {
  background-color: #2185D0;
}
button.delete {
  background-color: #DB2828;
}
