/* You can add global styles to this file, and also import other style files */
body {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0,0,0,.87);
}
button {
  color: #FFF;
  text-shadow: none;
  font-size: .8rem;
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  margin: 1rem .25em 0 0;
  padding: .79em 1.5em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .29rem;
  box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
}
.title {
  color: rgba(0,0,0,.95);
  margin: 0;
  padding: .75em 1em;
  font-weight: 700;
  border-top: 1px solid rgba(34,36,38,.15);
  cursor: pointer;
}
